/* General Navbar Styling */
.navbar {
    background-color: #232323;
    padding: 10px 20px;
    height: 55px;
}

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.navbar-brand:hover {
    color: white;
    text-shadow: 0 0 5px #00AEEF, 0 0 10px #00AEEF;
}

/* Navbar Links */
.navbar-nav {
    list-style: none;
    padding: 0;
    padding: 0;
}
.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    margin: 0 10px;
    text-decoration: none;
}

/* Hover Effect - Neon Glow */
.navbar-nav .nav-link:hover{
    color: white; /* Text grows slightly on hover */
    text-shadow: 0 0 5px #00AEEF, 0 0 10px #00AEEF;
}

/* Login Icon */
.login-link img {
    margin-right: 5px;

}

.navbar-nav .nav-item {
    list-style: none;
}

/* Mobile Toggle Icon */
.navbar-toggler {
    border: none;
    background: none;
    font-size: 24px;
    color: white;
    transition: all 0.3s ease-in-out;
}

/* Neon Animation on Hover */
.navbar-toggler:hover {
    background-color: white;
    box-shadow: 0 0 5px #00AEEF, 0 0 10px #00AEEF;
}

/* Responsive - Center Navbar Items on Mobile */
@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}

/* Hero Section Styles */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Slideshow Images */
.slideshow-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Hero Text */

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    color: white;
}

.hero-title {
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(to right, #00AEEF, #8000ff, #ff007f);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 20px rgba(0, 174, 239, 0.8);
}

.hero-subtitle {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    max-width: 600px;
} 

/* Buttons */
.hero-buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    padding: 12px 12px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}