body {
    background-color: rgb(23, 22, 22);
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-card {
    background: #232323;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    box-shadow: 0px 0px 15px rgba(255, 0, 127, 0.5);
    transform: scale(0.9);
    animation: fadeIn 0.8s forwards;
}

.user-icon {
    width: 70px;
    margin-bottom: 15px;

}

.input-group {
    display: flex;
    align-items: center;
    background: #232323;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
}

.input-icon {
    color: #ff007f;
    margin-right: 10px;
}

input {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
    
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.remember-forgot a {
    color: #ff007f;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    background: #ff007f;
    color: white;
    padding: 12px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: white;
    color: black;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.social-btn {
    background: transparent;
    border: 2px solid white;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.3s;
}

.social-btn:hover {
    background: white;
    color: black;
}

.home-btn {
    background: none;
    color: white;
    border: none;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}

@keyframes fadeIn {
    to {
        transform: scale(1);
        opacity: 1;
    }
}