.reservation-section {
    text-align: center;
    padding: 100px 20px;
    background: #232323;
    color: white;
}

.reservation-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    background: linear-gradient(to right, #00aeef, #8000ff, #ff007f);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 15px rgba(0, 174, 239, 0.9);
    /*animation: pulseGlow 2s infinite alternate; */
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
}

.reservation-subtitle {
    font-size: 24px;
    color: #bbb;
}

form {
    max-width: 600px;
    margin: 30px auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px #ff007f;
}