body {
    color: #fff;
    text-transform: uppercase;
    background-color: #232323;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.06vw;
    line-height: 1.3;

}

.section.full-height {
    display: flex;
}

.full-height {
    height: 100vh;
}

.section {
    width: 100%;
    background-color: #232323;
    position: relative;
}

.menu-wrap {
    width: 100%;
    height: 100%;
    cursor: auto;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 8.33vw;
    padding-right: 8.33vw;
    display: flex;
}

.categories-wrapper {
    width: 83.4vw;
    padding-top: 2em;
}

.categories-list {
    justify-content: space-between;
    display: flex;
}

.category-item {
    width: auto;
    text-align: center;
    cursor: auto;
    border-radius: 4.8em;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
    display: flex;
}

.heading-4.menu-name {
    transform: translate(-50%);
}

.menu-name {
    z-index: 10;
    position: relative;
    top: 1.1em;
    left: 50%;
}

.heading-4 {
    text-transform: uppercase;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1.5;
    display: block;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}